<a href="https://colab.research.google.com/github/SakaSaheed/AI-ML-Project/blob/main/NITPY_4_2_WEEK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
irene = ['irene', 'sylvester', 'female']
irene = {
    'name': 'irene',
    'surname':'sylvester',
    'gender':'female',
    'courses': ['engineering', 'art', 'music']
}

In [ ]:
akoko_dictionary = {
    'philosophy': 'Love of wisdom',
    'Philosophy': 'study of theories'
}
akoko_dictionary['Philosophy']

'study of theories'

In [ ]:
class_students = {
    1: 'Moses',
    2: 'John'
}
class_students[1]

'Moses'

In [ ]:
friends = ('Jane', 'Chioma')
gifts = {
    'uncle': 5000,
    friends: 'lamborghini'
}
gifts[friends]
print(f"{friends[0]} and {friends[1]} are getting a {gifts[friends]}")

Jane and Chioma are getting a lamborghini

In [ ]:
friends = ('Jane', 'Chioma')

gifts = {
    'uncle': 5000,
    friends: 'lamborghini',
    friends: 'private jet',
    friends: 'mercedes'
}
gifts[friends]

'mercedes'

In [ ]:
friends = ('Jane', 'Chioma')
gifts = {
    'uncle': 5000,
    ('Jane', 'Chioma'): 'lamborghini',
    ('Jane', 'Chioma'): 'private jet',
    ('Jane', 'Chioma'): 'maserati'
}
gifts[friends]

'maserati'

In [ ]:
friends = ('Jane', 'Chioma')
gifts = {
    'uncle': 5000,
    ('Jane', 'Chioma'): 'lamborghini',
    ('Jane', 'Chioma'): 'private jet',
    ('Jane', 'Chioma'): 'maserati'
}
gifts['uncle']

5000

In [ ]:
house = {
    'strong': 'front door',
    'masterlock': 'front door'
}
house['strong']
house['masterlock']

'front door'

In [ ]:
house = {
    'strong': 'front door',
    'masterlock': 'front door'
}

if house.get('no entry') is None:
  print("No such key exists")

No such key exists

In [ ]:
house = {
    'strong': 'front door',
    'masterlock': 'front door'
}

if house['no entry'] is None:
  print("No such key exists")

KeyError: 'no entry'

In [ ]:
profile = {
    'name': 'Matthew',
    'surname': 'Leclerc',
    'occupation': 'Racer'
}
print(f"Occupation before: {profile['occupation']}")
profile['occupation'] = 'Music'
print(f"Occupation after: {profile['occupation']}")

Occupation before: Racer
Occupation after: Music

In [ ]:
profile['status'] = 'Married'
print(profile)

{'name': 'Matthew', 'surname': 'Leclerc', 'occupation': 'Music', 'status': 'Married'}

In [ ]:
profile = {
    'name': 'Matthew',
    'surname': 'Leclerc',
    'occupation': 'Racer'
}

profile['occupation'] = [profile['occupation'], 'Music']
if profile.get('occupation') is not None:
  print(profile)

{'name': 'Matthew', 'surname': 'Leclerc', 'occupation': ['Racer', 'Music']}

In [ ]:
debtors = {
    'John': 5000,
    'Brad': 10000,
    'Bus Driver': 10000000000000000,
}
del debtors['Bus Driver'] # Bus driver give free rides now
print(debtors)

last_paid_debt = debtors.pop('John')  # John is sorry
print(last_paid_debt) # you can add that to your account

print(debtors)

{'John': 5000, 'Brad': 10000}
5000
{'Brad': 10000}

In [ ]:
debtors = {
    'John': 5000,
    'Brad': 10000,
    'Bus Driver': 10000000000000000,
}

last_paid_debt = debtors.popitem()
print(last_paid_debt)
print(debtors)
print("Another one")

person, debt = debtors.popitem()
print(f"{person} paid his debt of {debt}")
print(debtors)

('Bus Driver', 10000000000000000)
{'John': 5000, 'Brad': 10000}
Another one
Brad paid his debt of 10000
{'John': 5000}

In [ ]:
debtors = {
    'John': 5000,
    'Brad': 10000,
    'Bus Driver': 10000000000000000,
}
debtors.clear()
print(debtors)

{}

In [ ]:
team = {
    'Messi': 10,
    'Ronaldo': 7,
    'Neymar': 11,
    'Osimhen': 9
}
players = list(team.keys())
print(players)

jersey_numbers = list(team.values())
print(jersey_numbers)

['Messi', 'Ronaldo', 'Neymar', 'Osimhen']
[10, 7, 11, 9]

In [ ]:
team_list = list(team.items())
player, jersey_number = team_list[1]
print(player)

Ronaldo

In [ ]:
team = {
    'Messi': 10,
    'Ronaldo': 7,
    'Neymar': 11,
    'Osimhen': 9
}

new_gen = {
    'Haaland': 10,
    'Mbappe': 7,
    'Salah': 11,
    'Lukaku': 9,
    'Palmer': 10,
    'Yamal': 10
}

team.update(new_gen)
print(list(team.keys()))

['Messi', 'Ronaldo', 'Neymar', 'Osimhen', 'Haaland', 'Mbappe', 'Salah', 'Lukaku', 'Palmer', 'Yamal']

In [ ]:
player_names = list(team.keys())
for name in player_names:
    print(f'An award for {name}')

An award for Messi
An award for Ronaldo
An award for Neymar
An award for Osimhen
An award for Haaland
An award for Mbappe
An award for Salah
An award for Lukaku
An award for Palmer
An award for Yamal

In [ ]:
player_numbers = list(team.values())
for number in player_numbers:
    print(f'An award for {number}')

An award for 10
An award for 7
An award for 11
An award for 9
An award for 10
An award for 7
An award for 11
An award for 9
An award for 10
An award for 10

In [ ]:
print(team.items())
for player, number in team.items():
    print(f'An award for {player} with jersey number {number}')

dict_items([('Messi', 10), ('Ronaldo', 7), ('Neymar', 11), ('Osimhen', 9), ('Haaland', 10), ('Mbappe', 7), ('Salah', 11), ('Lukaku', 9), ('Palmer', 10), ('Yamal', 10)])
An award for Messi with jersey number 10
An award for Ronaldo with jersey number 7
An award for Neymar with jersey number 11
An award for Osimhen with jersey number 9
An award for Haaland with jersey number 10
An award for Mbappe with jersey number 7
An award for Salah with jersey number 11
An award for Lukaku with jersey number 9
An award for Palmer with jersey number 10
An award for Yamal with jersey number 10

In [ ]:
nigerian_team = {
    'Osimhen': 9,
    'Musa': 10,
    'Lookman': 11,
    'Iwobi': 7,
    'Bassey': 3,
    'Ekong': 8,
    'Nwambali': 33,
    'Boniface': 4
}

def measure_team_strength(team):
  base_score = 4
  if team.get('Osimhen'):
    base_score += 4
  elif team.get('Nwambali'):
    base_score += 3
  elif team.get("Lookman"):
    base_score -= 2
  return base_score

print(measure_team_strength(nigerian_team))

8

In [ ]:
profile = {
    'name': 'Matthew',
    'surname': 'Leclerc',
    'occupation': 'Racer',
    'friends': {
        'friend1': {
            'name': 'Favour',
            'surname': 'Ofore'
        }
    }
}

profile['friends']['friend1']['name']

'Favour'

In [ ]:
students = {

  "001": {"name": "Ayo", "score": 90},

  "002": {"name": "Tolu", "score": 76},

}

print(students["001"]["score"])

90

In [ ]:
friends = {'Jane', 'John', 'Micheal'}
print(friends)

{'Jane', 'Micheal', 'John'}

In [ ]:
friends = {'Jane', 'John', 'Micheal', 'Micheal'}
print(friends)

{'Jane', 'Micheal', 'John'}

In [ ]:
random_friend = friends.pop()
print(random_friend)

Jane

In [ ]:
friends.add('Similoluwa')
print(friends)

{'Micheal', 'John', 'Similoluwa'}

In [ ]:
friends.discard('Davido')
# friends[0] = 'Matthew'

In [ ]:
physical = {'Yemi', 'Dami', 'Mary', 'Ruth', 'Sonnet'}
virtual = {'Irene', 'Adam', 'Prince', 'Hanifah'}
# everybody = physical | virtual
everybody = physical.union(virtual)
print(everybody)

{'Ruth', 'Mary', 'Hanifah', 'Irene', 'Prince', 'Adam', 'Dami', 'Sonnet', 'Yemi'}

In [ ]:
friend_interests = {'gaming', 'python', 'food', 'books'}
my_interests = {'football', 'python','business', 'gaming'}
common_ground = my_interests & friend_interests
# my_interests.intersection(friend_interests) can work
common_ground # {'gaming'}

{'gaming', 'python'}

In [ ]:
friend_interests = {'gaming', 'python', 'food', 'books'}
my_interests = {'football', 'python','business', 'gaming'}
my_differences = my_interests.difference(friend_interests)
friend_differences = friend_interests - my_interests
print(my_differences)
print(friend_differences)

{'business', 'football'}
{'food', 'books'}