<a href="https://colab.research.google.com/github/SakaSaheed/AI-ML-Project/blob/main/Week_1_NITPY_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

## Outputs

`print()` allows you to output text from your code.

In [ ]:
print("Mr Daniel is a great tutor")

Mr Kingsley is a great tutor

I want to print my friends name

In [ ]:
# 1. tosin (this is an inline comment)
print("tosin")

tosin

Python has an **interpreter** that allows the computer to understand what is run and Python code is run line by line

In [ ]:
print("taye")
print("titi")
print("tosin")

# will print in this order
# taye
# titi
# tosin

taye
titi
tosin

## Variables

Can only have one data type associated with it


Consists of:
- a name
- an assignment operator (=)
- and a value

Can be named as
- Snake case (`snake_case`): using underscore in place of spaces
- Camel case (`camelCase`): capitalizing the first letter of the next words
- Pascal case (`PascalCase`): capitalizing the first letter of each word.

In [ ]:
name = "Tosin"
age = 15

In [ ]:
# camel case
numberOfCars = 2
numberOfCars

2

In [ ]:
# pascal case
NumberOfCars = 34
NumberOfCars

34

In [ ]:
# snake case
number_of_cars = 22
number_of_cars

2

- A variable must not end with a full stop or any special characters
- You cannot print a variable without creating it beforehand

In [ ]:
print("NumberOfCars")  # doesn't print the variable value

NumberOfCars

##Data Types
1. Numeric data types
    * Integers (`int`): Negative and positive real whole numbers
    * Floats (`float`): Negative and positive decimal numbers
    * Complex (`complex`)
2. Strings (`str`): A sequence of characters in quotes
    * Single quoted strings `''`
    * Double quoted strings `""`
    * Triple quoted strings `""" """`
3. Boolean (`bool`) i.e. `True` and `False`

In [ ]:
# Integer data types
num = -50
print(num)

-50

In [ ]:
800
90000

90000

In [ ]:
# Float data types
num2 = 4.5
num3 = -5.1

In [ ]:
# Complex data types
comp = 5 + 3j
-5.5 + 2.3j

(-5.5+2.3j)

In [ ]:
# String data types (str)
print("Hello World")
print('Hello Computer')
"""Hello Professor"""

Hello World
Hello Computer

'Hello Professor'

In [ ]:
# Boolean data types
True # not true

True

In [ ]:
False # not false

False

## Getting inputs from users
`input`

In [ ]:
input()

Hello Awayu

'Hello Awayu'

Anything you get from input will be converted to you as a string `str`

In [ ]:
input("What is your name: ")

What is your name: Jagaban

'Jagaban'

In [ ]:
input("How old are you: ")

How old are you: 67

'67'

In [ ]:
my_name = input("What name was thou given? ")

What name was thou given? Tosin

In [ ]:
my_name

'Tosin'

### Combining inputs and output

In [ ]:
name = input("What is your name? ")
print("Hello", name)

What is your name? Musa
Hello Musa

In [ ]:
user_name = input("Enter your name: ")
print("Your name is", user_name)

Enter your name: John
Your name is John

assignment correction

In [ ]:
name = input("What is your name? ")
age = input("How old are you? ")
height = input("How far up are you? ")
print("Hi", name, "you are", age, "years old and", height, "m tall")

What is your name? John Wick
How old are you? 49
How far up are you? 5' 12''
Hi John Wick you are 49 years old and 5' 12'' m tall

## f-Strings
A cleaner way of making strings to be outputed

Format: `f""`

In [ ]:
name = input("What is your name? ")
age = input("How old are you? ")
height = input("How far up are you? ")
print(f"Hi {name} you are {age} years old and {height} m tall")

What is your name? John
How old are you? 13
How far up are you? 2
Hi John you are 13 years old and 2 m tall

## Type casting
Used to convert from one data type to another

In [ ]:
starting_balance = input("Starting balance: ")
final_balance = int(starting_balance) + 100 ## not putting the int() will give an error
print(f"Final balance: {final_balance}")

Starting balance: 300000
Final balance: 300100

In [ ]:
no_of_goods = int("234")
float("2.5")

2.5

In [ ]:
print(int("2"))
print("Hello")

2
Hello

In [ ]:
starting_balance = int(input("Starting balance: ")) ## a shorter way of converting input type
final_balance = starting_balance + 100
print(f"Final balance: {final_balance}")

Starting balance: 2000
Final balance: 2100

In [ ]:
int("2")
float("2.0")

2.0

In [ ]:
str(2.0)

'2.0'

Converting to boolean `bool`, only brings `False` when the equivalent of what is inputted is nothing

In [ ]:
bool("False") # Something (the letters 'F', 'a', 'l', 's' and 'e') hence True

bool("") # an empty string which is nothing, so False

bool(-1) # a negative number is also something

bool(0) # equivalent of nothing, so False

bool(" ") # Space is also something, hence true

True

In [ ]:
cost_price = float(input("Cost price: "))
profit = cost_price * 0.2
selling_price = profit + cost_price
print(f"Selling price: {selling_price}")

Cost price: 3000
Selling price: 3600.0

In [ ]:
total_money_shared = 60000
total_people_to_share_with = 250
int(total_money_shared / total_people_to_share_with)

240

In [ ]:
169 % 2
4659483435774**90

1413837498265710075350766434695914615667874475118716003150622247348766866648217641151218699618219326512978299360036993436242848613487973215141584220586430383507260903067675800602364420251533019710598241057399858764276674468656971162116470678750314527861685029555600332468191997574579790893546811549221424684496133676565234820292829237630661651718683592393177567400967396308836449968539013752230850830961034247882410103048612936983497857733844915070569908375763180927877955251596202904008058180681444163237697650376630459253738374327657824560796801317841844925451283269033775494195057730710673561678278037282851805382458973463653108801463379304189923985933483334014497220642094581412621724595507608487171043759705813315867993718108277536418400165304527500692734309370644378634393856454579943905504546220721294062460440907839060541852867119334253671895580244972995083556778655222693576654850721024518530348460033540901663625599195564399145605854458725830007659168574357906025337420642212947181750579862995545899795840046538876329226641829083304579800757147077849360168111604849715674999290644479193410301442360394208095341555406137127522533376

In [ ]:
2 + 3 * 2
(2 * 2 + 2) - 2
2**3 * 2

16

In [ ]:
income = float(input("Total income: "))
expenses = float(input("Total expenses: "))
savings = income - expenses
print(f"Total savings/loss: {savings}")

Total income: 70000
Total expenses: 80000
Total savings/loss: -10000.0

In [ ]:
principal = 10000
interest_rate = 26/100
time_in_years = 3
interest = (principal * interest_rate * time_in_years)
print(interest)

7800.0

In [ ]:
car_consumption_per_km = 2
kilometers_to_travel = 50
price_of_fuel_per_litre = 910

fuel_to_buy = (car_consumption_per_km * kilometers_to_travel) * price_of_fuel_per_litre
print(fuel_to_buy)

91000

In [ ]:
selling_price = 100000
discount = int(input("Enter discount: ")) / 100
new_selling_price = selling_price - (discount * selling_price)
print(new_selling_price)

Enter discount: 50
50000.0

In [ ]:
wins = 4
losses = 0
draws = 2

points_per_win = 3
points_per_loss = 0
points_per_draw = 1

total_points = (wins * points_per_win) + (losses * points_per_loss) + (draws * points_per_draw)
print(total_points)

14

## Comparision operators
Used to compare values in Python. Can be >, <, ==, !=, >=, <=

In [ ]:
5 == 5
10 > 2
6 != 6
5 >= 5
5 > 5

False

In [ ]:
age = int(input("Enter your age: "))
age >= 18

Enter your age: 52

True

In [ ]:
amount_to_withdraw = float(input("Type amount to withdraw: "))
balance = 30000
amount_to_withdraw < 30000

Type amount to withdraw: 40000

False

In [ ]:
healthy_cells_in_organ = 50000
cancerous_cells_in_organ = 60000
has_cancer = cancerous_cells_in_organ > healthy_cells_in_organ
print(has_cancer)

True

In [ ]:
total_money_to_share = int(input("Money to share: "))
elder_sibling_cut = int(input("Bro/Sis cut: "))
elder_sibling_cut > (1/2 * total_money_to_share)

Money to share: 10000
Bro/Sis cut: 6000

True

## Logical operators
Can only be `and`, `or` and `not`

In [ ]:
above_18 = True
has_invite = False

above_18 and has_invite

False

In [ ]:
# nigeria win
# goal difference
# south africa lose
nigeria_win = True
good_goal_difference = True
south_africa_lose = False
nigeria_win and good_goal_difference and south_africa_lose

True

In [ ]:
above_18 = True
has_invite = False

above_18 or has_invite

True

In [ ]:
good_looking = True
mean = False
is_rich = True

good_looking and not mean and is_rich

True

In [ ]:
you_like_the_person = True
person_likes_you_back = False

you_like_the_person or person_likes_you_back # you are a kidnapper

True

In [ ]:
smells_nice = True
has_meat = True
light_red_in_color = True
smoky_smell = True
taste_good = True
is_soft = True

ghana_jollof = smells_nice and not is_soft or not smoky_smell
print(ghana_jollof)

False